preprocessing/pdfminer.six-develop/tools/relationExtraction/outputProcess
preprocessing/pdfminer.six-develop/tools/relationExtraction/inputProcess
preprocessing/pdfminer.six-develop/tools/processed/
OpenNRE/custom/train
OpenNRE/custom/test
OpenNRE/custom/val